h1 {
    color: dodgerblue;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif
}
body {
    background-image: url("bg.png");
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif
  }
  
  li a:hover {
    background-color: #111;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif
  }
  .active {
      background-color: lightslategray;
      font-family:'Segoe UI', Tahoma, Verdana, sans-serif
  }